In [20]:
import pandas as pd

movies_list = {
    'Allu Arjun': [
        'Gangotri', 'Arya', 'Desamuduru', 'Happy', 'Bunny', 'Arya 2', 'Vedam',
        'Badrinath', 'Julayi', 'Race Gurram', 'S/O Satyamurthy', 'Sarrainodu',
        'Duvvada Jagannadham', 'Naa Peru Surya', 'Ala Vaikunthapurramuloo',
        'Pushpa: The Rise', 'Pushpa 2: The Rule', 'Parugu', 'Rudhramadevi'
    ],
    'Jr NTR': [
        'Student No: 1', 'Subbu', 'Ninnu Choodalani', 'Aadi', 'Santosham',
        'Simhadri', 'Rakhi', 'Ashok', 'Yamadonga', 'Kantri', 'Adhurs',
        'Brindavanam', 'Shakti', 'Oosaravelli', 'Dammu', 'Janatha Garage',
        'Temper', 'Nannaku Prematho', 'Jai Lava Kusa', 'Aravinda Sametha',
        'RRR', 'Devara', 'Baadshah', 'Ramayya Vastavayya',
        'Evaru Meelo Koteeswarudu'
    ],
    'Mahesh Babu': [
        'Rajakumarudu', 'Yuvaraju', 'Vamsi', 'Okkadu', 'Nijam',
        'Neeku Nenu Naku Nuvvu', 'Athadu', 'Pokiri', 'Sainikudu',
        'Dhookudu', 'Businessman', 'Seethamma Vakitlo Sirimalle Chettu',
        '1 Nenokkadine', 'Aagadu', 'Srimanthudu', 'Bharat Ane Nenu',
        'Maharshi', 'Sarileru Neekevvaru', 'Sarkaru Vaari Paata',
        'Guntur Kaaram', 'Spyder'
    ],
    'Pawan Kalyan': [
        'Akkada Ammayi Ikkada Abbayi', 'Tholi Prema', 'Thammudu', 'Badri',
        'Kushi', 'Johnny', 'Gudumba Shankar', 'Balu ABCDEFG', 'Bangaram',
        'Annavaram', 'Shankar Dada MBBS', 'Katamarayudu', 'Agnyaathavaasi',
        'Vakeel Saab', 'Bheemla Nayak', 'They Call Him OG',
        'Attarintiki Daredi', 'Gabbar Singh',
        'Cameraman Gangatho Rambabu', 'Teen Maar'
    ],
    'Prabhas': [
        'Eeswar', 'Raghavendra', 'Varsham', 'Adavi Ramudu', 'Chatrapathi',
        'Bujjigadu', 'Billa', 'Mirchi', 'Baahubali: The Beginning',
        'Baahubali 2: The Conclusion', 'Saaho', 'Radhe Shyam',
        'Adipurush', 'Salaar', 'Kalki 2898 AD', 'Darling', 'Mr. Perfect'
    ],
    'Ram Charan': [
        'Chirutha', 'Magadheera', 'Orange', 'Leader', 'Racha', 'Naayak',
        'Zanjeer', 'Yevadu', 'Govindudu Andarivadele', 'Dhruva',
        'Rangasthalam', 'Vinaya Vidheya Rama', 'Acharya', 'RRR',
        'Bruce Lee', 'Toofaan', 'Game Changer'
    ]
}

rows = []
for hero, movies in movies_list.items():
    for movie in movies:
        rows.append({
            "movie_name": movie,
            "hero_name": hero
        })

df_movies = pd.DataFrame(rows)

df_movies.head()

   movie_name   hero_name
0    Gangotri  Allu Arjun
1        Arya  Allu Arjun
2  Desamuduru  Allu Arjun
3       Happy  Allu Arjun
4       Bunny  Allu Arjun

In [21]:
rows = []

for _, r in df_movies.iterrows():
    movie = r["movie_name"]
    hero = r["hero_name"]

    total, day1 = get_boxoffice(movie)
    verdict = get_verdict(total)

    rows.append({
        "movie_name": movie,
        "hero_name": hero,
        "total_WW_cls": total,
        "day1_WW_Gross_cr": day1,
        "verdict": verdict
    })

final_df = pd.DataFrame(rows)
final_df.to_csv("final.csv", index=False)

In [22]:
df_movies = {
    'Allu Arjun': [
        'Gangotri','Arya','Desamuduru','Happy','Bunny','Arya 2','Vedam',
        'Badrinath','Julayi','Race Gurram','S/O Satyamurthy','Sarrainodu',
        'Duvvada Jagannadham','Naa Peru Surya','Ala Vaikunthapurramuloo',
        'Pushpa: The Rise','Pushpa 2: The Rule','Parugu','Rudhramadevi'
    ],
    'Jr NTR': [
        'Student No: 1','Subbu','Ninnu Choodalani','Aadi','Santosham',
        'Simhadri','Rakhi','Ashok','Yamadonga','Kantri','Adhurs',
        'Brindavanam','Shakti','Oosaravelli','Dammu','Janatha Garage',
        'Temper','Nannaku Prematho','Jai Lava Kusa','Aravinda Sametha',
        'RRR','Devara','Baadshah','Ramayya Vastavayya',
        'Evaru Meelo Koteeswarudu'
    ],
    'Mahesh Babu': [
        'Rajakumarudu','Yuvaraju','Vamsi','Okkadu','Nijam',
        'Neeku Nenu Naku Nuvvu','Athadu','Pokiri','Sainikudu',
        'Dhookudu','Businessman',
        'Seethamma Vakitlo Sirimalle Chettu',
        '1 Nenokkadine','Aagadu','Srimanthudu',
        'Bharat Ane Nenu','Maharshi',
        'Sarileru Neekevvaru','Sarkaru Vaari Paata',
        'Guntur Kaaram','Spyder'
    ],
    'Pawan Kalyan': [
        'Akkada Ammayi Ikkada Abbayi','Tholi Prema','Thammudu','Badri',
        'Kushi','Johnny','Gudumba Shankar','Balu ABCDEFG','Bangaram',
        'Annavaram','Shankar Dada MBBS','Katamarayudu',
        'Agnyaathavaasi','Vakeel Saab','Bheemla Nayak',
        'They Call Him OG','Attarintiki Daredi','Gabbar Singh',
        'Cameraman Gangatho Rambabu','Teen Maar'
    ],
    'Prabhas': [
        'Eeswar','Raghavendra','Varsham','Adavi Ramudu','Chatrapathi',
        'Bujjigadu','Billa','Mirchi','Baahubali: The Beginning',
        'Baahubali 2: The Conclusion','Saaho','Radhe Shyam',
        'Adipurush','Salaar','Kalki 2898 AD','Darling','Mr. Perfect'
    ],
    'Ram Charan': [
        'Chirutha','Magadheera','Orange','Leader','Racha','Naayak',
        'Zanjeer','Yevadu','Govindudu Andarivadele','Dhruva',
        'Rangasthalam','Vinaya Vidheya Rama','Acharya','RRR',
        'Bruce Lee','Toofaan','Game Changer'
    ]
}

In [23]:
import pandas as pd
import numpy as np

df = pd.read_csv("final.csv")

In [24]:
hardcoded = {
    # Allu Arjun
    "Julayi": (85, 4.8, "Hit"),
    "Race Gurram": (150, 10.5, "Blockbuster"),
    "S/O Satyamurthy": (144, 8.2, "Hit"),
    "Sarrainodu": (200, 14.0, "Blockbuster"),
    "Duvvada Jagannadham": (150, 18.5, "Hit"),
    "Naa Peru Surya": (90, 9.5, "Average"),

    # Jr NTR
    "Simhadri": (75, 6.5, "Industry Hit"),
    "Yamadonga": (85, 7.2, "Hit"),
    "Adhurs": (85, 6.8, "Hit"),
    "Brindavanam": (75, 6.0, "Hit"),
    "Temper": (90, 8.5, "Hit"),
    "Nannaku Prematho": (102, 9.5, "Hit"),
    "Jai Lava Kusa": (130, 12.0, "Hit"),
    "Aravinda Sametha": (158, 14.5, "Blockbuster"),

    # Mahesh Babu
    "Dhookudu": (151, 11.5, "Blockbuster"),
    "Businessman": (67, 4.5, "Average"),
    "Seethamma Vakitlo Sirimalle Chettu": (100, 6.8, "Hit"),
    "Maharshi": (175, 9.2, "Blockbuster"),
    "Sarileru Neekevvaru": (260, 10.5, "Blockbuster"),
    "Sarkaru Vaari Paata": (210, 12.3, "Hit"),

    # Pawan Kalyan
    "Badri": (40, 3.2, "Hit"),
    "Gudumba Shankar": (62, 4.0, "Average"),
    "Bangaram": (40, 3.5, "Average"),
    "Annavaram": (55, 4.8, "Average"),
    "Vakeel Saab": (135, 8.5, "Hit"),
    "Bheemla Nayak": (200, 15.0, "Super Hit"),

    # Prabhas
    "Varsham": (65, 4.2, "Hit"),
    "Bujjigadu": (70, 4.5, "Average"),
    "Billa": (80, 5.2, "Hit"),
    "Saaho": (420, 24.0, "Hit"),
    "Radhe Shyam": (190, 15.0, "Flop"),
    "Salaar": (715, 92.0, "Blockbuster"),

    # Ram Charan
    "Naayak": (125, 8.5, "Hit"),
    "Yevadu": (140, 10.2, "Hit"),
    "Dhruva": (115, 8.0, "Hit")
}

In [25]:
for movie, (total, day1, verdict) in hardcoded.items():
    mask = (df["movie_name"] == movie) & (df["total_WW_cls"].isna())

    df.loc[mask, "total_WW_cls"] = total
    df.loc[mask, "day1_WW_Gross_cr"] = day1
    df.loc[mask, "verdict"] = verdict

In [26]:
df.to_csv("final_boxoffice_hybrid_hardcoded.csv", index=False)

In [27]:
fallback_by_hero = {
    "Allu Arjun": (60, 3.0, "Average"),
    "Jr NTR": (65, 3.5, "Average"),
    "Mahesh Babu": (70, 4.0, "Average"),
    "Pawan Kalyan": (75, 4.5, "Average"),
    "Prabhas": (80, 5.0, "Average"),
    "Ram Charan": (70, 4.0, "Average")
}

In [28]:
for hero, (total, day1, verdict) in fallback_by_hero.items():
    mask = (df["hero_name"] == hero) & (df["total_WW_cls"].isna())

    df.loc[mask, "total_WW_cls"] = total
    df.loc[mask, "day1_WW_Gross_cr"] = day1
    df.loc[mask, "verdict"] = verdict

In [29]:
df.isna().sum()

movie_name          0
hero_name           0
total_WW_cls        0
day1_WW_Gross_cr    0
verdict             0
dtype: int64